.weather-description {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid #ec6e4c;
  padding: 8px 0;
}

.weather-time-block {
  display: flex;
  flex-direction: column;
}

.weather-image {
  width: 64px;
  height: 64px;
  -webkit-filter: drop-shadow(5px 5px 5px #222 );
  filter: drop-shadow(1px 1px 2px #222);
}

.weather-time {
  text-align: center;
}

.weather-temp {
  display: flex;
  align-items: center;
  justify-content: center;
}

.weather-temp span {
  font-size: 0.5em;
  margin-bottom: calc(100% - 32px);
}
.weather-stats {
  max-width: 50%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.w-100 {
  width: 100%;
}