.weather__list {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 16px;
  padding: 16px;
}


@media (max-width: 1550px) {
  .weather__list {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (max-width: 1300px) {
  .weather__list {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 980px) {
  .weather__list {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 660px) {
  .weather__list {
    padding: 8px;
    grid-template-columns: 1fr;
  }
}